.sidebar {
    @apply fixed z-30 inset-y-0 left-0 w-64 px-8 py-4;
    @apply bg-gray-100 border-r;
    @apply overflow-auto;
}

.sidebar-open {
    transform: none;
}

.sidebar-close {
    transform: translateX(-100%);
    animation-duration: 2s;
}

@media (min-width: 769px) {
    .sidebar-close {
        transform: none;
    }
}
